In [1]:
import requests
from pprint import pprint
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import statistics
import datetime
import geopy 

%matplotlib notebook

In [2]:
Race06_df = pd.read_csv('Race_06.csv',header=1)
Race06_df = pd.read_csv('Race_06.csv',header=1)
Race12_df = pd.read_csv('Race_12.csv',header=1)
Income16_df = pd.read_csv('Income_16.csv',header=1)
Age11_df = pd.read_csv('Age_11.csv',header=1)
Age05_df = pd.read_csv('Age_05.csv',header=1)
Income17_df = pd.read_csv('Income_17.csv',header=1)
Age10_df = pd.read_csv('Age_10.csv',header=1)
Race13_df = pd.read_csv('Race_13.csv',header=1)
Race07_df = pd.read_csv('Race_07.csv',header=1)
Race11_df = pd.read_csv('Race_11.csv',header=1)
Race05_df = pd.read_csv('Race_05.csv',header=1)
Age06_df = pd.read_csv('Age_06.csv',header=1)
Age12_df = pd.read_csv('Age_12.csv',header=1)
Income15_df = pd.read_csv('Income_15.csv',header=1)
Age13_df = pd.read_csv('Age_13.csv',header=1)
Income14_df = pd.read_csv('Income_14.csv',header=1)
Age07_df = pd.read_csv('Age_07.csv',header=1)
Race10_df = pd.read_csv('Race_10.csv',header=1)
Race14_df = pd.read_csv('Race_14.csv',header=1)
Income10_df = pd.read_csv('Income_10.csv',header=1)
Age17_df = pd.read_csv('Age_17.csv',header=1)
Income11_df = pd.read_csv('Income_11.csv',header=1)
Age16_df = pd.read_csv('Age_16.csv',header=1)
Income05_df = pd.read_csv('Income_05.csv',header=1)
Race15_df = pd.read_csv('Race_15.csv',header=1)
Race17_df = pd.read_csv('Race_17.csv',header=1)
Age14_df = pd.read_csv('Age_14.csv',header=1)
Income13_df = pd.read_csv('Income_13.csv',header=1)
Income07_df = pd.read_csv('Income_07.csv',header=1)
Income06_df = pd.read_csv('Income_06.csv',header=1)
Age15_df = pd.read_csv('Age_15.csv',header=1)
Income12_df = pd.read_csv('Income_12.csv',header=1)
Race16_df = pd.read_csv('Race_16.csv',header=1)
Income08_df = pd.read_csv('Income_08.csv',header=1)
Income09_df = pd.read_csv('Income_09.csv',header=1)
Race09_df = pd.read_csv('Race_09.csv',header=1)
Race08_df = pd.read_csv('Race_08.csv',header=1)
Age09_df = pd.read_csv('Age_09.csv',header=1)
Age08_df = pd.read_csv('Age_08.csv',header=1)

In [3]:
Race06_df['Year'] = 2006
Race12_df['Year'] = 2012
Income16_df['Year'] = 2016
Age11_df['Year'] = 2011
Age05_df['Year'] = 2005
Income17_df['Year'] = 2017
Age10_df['Year'] = 2010
Race13_df['Year'] = 2013
Race07_df['Year'] = 2007
Race11_df['Year'] = 2011
Race05_df['Year'] = 2005
Age06_df['Year'] = 2006
Age12_df['Year'] = 2012
Income15_df['Year'] = 2015
Age13_df['Year'] = 2013
Income14_df['Year'] = 2014
Age07_df['Year'] = 2007
Race10_df['Year'] = 2010
Race14_df['Year'] = 2014
Income10_df['Year'] = 2010
Age17_df['Year'] = 2017
Income11_df['Year'] = 2011
Age16_df['Year'] = 2016
Income05_df['Year'] = 2005
Race15_df['Year'] = 2015
Race17_df['Year'] = 2017
Age14_df['Year'] = 2014
Income13_df['Year'] = 2013
Income07_df['Year'] = 2007
Income06_df['Year'] = 2006
Age15_df['Year'] = 2015
Income12_df['Year'] = 2012
Race16_df['Year'] = 2016
Income08_df['Year'] = 2008
Income09_df['Year'] = 2009
Race09_df['Year'] = 2009
Race08_df['Year'] = 2008
Age09_df['Year'] = 2009
Age08_df['Year'] = 2008

In [4]:
Age05_df = Age05_df.rename(index=str,columns={'Total; Estimate; Total population':'Total; Estimate; Total population',
'Total; Estimate; Total population - AGE - Under 5 years' : 'Total; Estimate; AGE - Under 5 years',
'Total; Estimate; Total population - AGE - 5 to 9 years': 'Total; Estimate; AGE - 5 to 9 years',
'Total; Estimate; Total population - AGE - 10 to 14 years': 'Total; Estimate; AGE - 10 to 14 years',
'Total; Estimate; Total population - AGE - 15 to 19 years': 'Total; Estimate; AGE - 15 to 19 years',
'Total; Estimate; Total population - AGE - 20 to 24 years': 'Total; Estimate; AGE - 20 to 24 years',
'Total; Estimate; Total population - AGE - 25 to 29 years': 'Total; Estimate; AGE - 25 to 29 years',
'Total; Estimate; Total population - AGE - 30 to 34 years': 'Total; Estimate; AGE - 30 to 34 years',
'Total; Estimate; Total population - AGE - 35 to 39 years': 'Total; Estimate; AGE - 35 to 39 years',
'Total; Estimate; Total population - AGE - 40 to 44 years': 'Total; Estimate; AGE - 40 to 44 years',
'Total; Estimate; Total population - AGE - 45 to 49 years': 'Total; Estimate; AGE - 45 to 49 years',
'Total; Estimate; Total population - AGE - 50 to 54 years': 'Total; Estimate; AGE - 50 to 54 years',
'Total; Estimate; Total population - AGE - 55 to 59 years': 'Total; Estimate; AGE - 55 to 59 years',
'Total; Estimate; Total population - AGE - 60 to 64 years': 'Total; Estimate; AGE - 60 to 64 years',
'Total; Estimate; Total population - AGE - 65 to 69 years': 'Total; Estimate; AGE - 65 to 69 years',
'Total; Estimate; Total population - AGE - 70 to 74 years': 'Total; Estimate; AGE - 70 to 74 years',
'Total; Estimate; Total population - AGE - 80 to 84 years': 'Total; Estimate; AGE - 80 to 84 years',
'Total; Estimate; Total population - AGE - 85 years and over': 'Total; Estimate; AGE - 85 years and over'})

In [5]:
Age06_df = Age06_df.rename(index=str,columns={'Total; Estimate; Total population':'Total; Estimate; Total population',
'Total; Estimate; Total population - AGE - Under 5 years' : 'Total; Estimate; AGE - Under 5 years',
'Total; Estimate; Total population - AGE - 5 to 9 years': 'Total; Estimate; AGE - 5 to 9 years',
'Total; Estimate; Total population - AGE - 10 to 14 years': 'Total; Estimate; AGE - 10 to 14 years',
'Total; Estimate; Total population - AGE - 15 to 19 years': 'Total; Estimate; AGE - 15 to 19 years',
'Total; Estimate; Total population - AGE - 20 to 24 years': 'Total; Estimate; AGE - 20 to 24 years',
'Total; Estimate; Total population - AGE - 25 to 29 years': 'Total; Estimate; AGE - 25 to 29 years',
'Total; Estimate; Total population - AGE - 30 to 34 years': 'Total; Estimate; AGE - 30 to 34 years',
'Total; Estimate; Total population - AGE - 35 to 39 years': 'Total; Estimate; AGE - 35 to 39 years',
'Total; Estimate; Total population - AGE - 40 to 44 years': 'Total; Estimate; AGE - 40 to 44 years',
'Total; Estimate; Total population - AGE - 45 to 49 years': 'Total; Estimate; AGE - 45 to 49 years',
'Total; Estimate; Total population - AGE - 50 to 54 years': 'Total; Estimate; AGE - 50 to 54 years',
'Total; Estimate; Total population - AGE - 55 to 59 years': 'Total; Estimate; AGE - 55 to 59 years',
'Total; Estimate; Total population - AGE - 60 to 64 years': 'Total; Estimate; AGE - 60 to 64 years',
'Total; Estimate; Total population - AGE - 65 to 69 years': 'Total; Estimate; AGE - 65 to 69 years',
'Total; Estimate; Total population - AGE - 70 to 74 years': 'Total; Estimate; AGE - 70 to 74 years',
'Total; Estimate; Total population - AGE - 80 to 84 years': 'Total; Estimate; AGE - 80 to 84 years',
'Total; Estimate; Total population - AGE - 85 years and over': 'Total; Estimate; AGE - 85 years and over'})

In [6]:
Age07_df = Age07_df.rename(index=str,columns={'Total; Estimate; Total population':'Total; Estimate; Total population',
'Total; Estimate; Total population - AGE - Under 5 years' : 'Total; Estimate; AGE - Under 5 years',
'Total; Estimate; Total population - AGE - 5 to 9 years': 'Total; Estimate; AGE - 5 to 9 years',
'Total; Estimate; Total population - AGE - 10 to 14 years': 'Total; Estimate; AGE - 10 to 14 years',
'Total; Estimate; Total population - AGE - 15 to 19 years': 'Total; Estimate; AGE - 15 to 19 years',
'Total; Estimate; Total population - AGE - 20 to 24 years': 'Total; Estimate; AGE - 20 to 24 years',
'Total; Estimate; Total population - AGE - 25 to 29 years': 'Total; Estimate; AGE - 25 to 29 years',
'Total; Estimate; Total population - AGE - 30 to 34 years': 'Total; Estimate; AGE - 30 to 34 years',
'Total; Estimate; Total population - AGE - 35 to 39 years': 'Total; Estimate; AGE - 35 to 39 years',
'Total; Estimate; Total population - AGE - 40 to 44 years': 'Total; Estimate; AGE - 40 to 44 years',
'Total; Estimate; Total population - AGE - 45 to 49 years': 'Total; Estimate; AGE - 45 to 49 years',
'Total; Estimate; Total population - AGE - 50 to 54 years': 'Total; Estimate; AGE - 50 to 54 years',
'Total; Estimate; Total population - AGE - 55 to 59 years': 'Total; Estimate; AGE - 55 to 59 years',
'Total; Estimate; Total population - AGE - 60 to 64 years': 'Total; Estimate; AGE - 60 to 64 years',
'Total; Estimate; Total population - AGE - 65 to 69 years': 'Total; Estimate; AGE - 65 to 69 years',
'Total; Estimate; Total population - AGE - 70 to 74 years': 'Total; Estimate; AGE - 70 to 74 years',
'Total; Estimate; Total population - AGE - 80 to 84 years': 'Total; Estimate; AGE - 80 to 84 years',
'Total; Estimate; Total population - AGE - 85 years and over': 'Total; Estimate; AGE - 85 years and over'})

In [7]:
Age08_df = Age08_df = Age08_df.rename(index=str, columns={'Total; Estimate; Total population':'Total; Estimate; Total population',
'Total; Estimate; Total population - AGE - Under 5 years' : 'Total; Estimate; AGE - Under 5 years',
'Total; Estimate; Total population - AGE - 5 to 9 years': 'Total; Estimate; AGE - 5 to 9 years',
'Total; Estimate; Total population - AGE - 10 to 14 years': 'Total; Estimate; AGE - 10 to 14 years',
'Total; Estimate; Total population - AGE - 15 to 19 years': 'Total; Estimate; AGE - 15 to 19 years',
'Total; Estimate; Total population - AGE - 20 to 24 years': 'Total; Estimate; AGE - 20 to 24 years',
'Total; Estimate; Total population - AGE - 25 to 29 years': 'Total; Estimate; AGE - 25 to 29 years',
'Total; Estimate; Total population - AGE - 30 to 34 years': 'Total; Estimate; AGE - 30 to 34 years',
'Total; Estimate; Total population - AGE - 35 to 39 years': 'Total; Estimate; AGE - 35 to 39 years',
'Total; Estimate; Total population - AGE - 40 to 44 years': 'Total; Estimate; AGE - 40 to 44 years',
'Total; Estimate; Total population - AGE - 45 to 49 years': 'Total; Estimate; AGE - 45 to 49 years',
'Total; Estimate; Total population - AGE - 50 to 54 years': 'Total; Estimate; AGE - 50 to 54 years',
'Total; Estimate; Total population - AGE - 55 to 59 years': 'Total; Estimate; AGE - 55 to 59 years',
'Total; Estimate; Total population - AGE - 60 to 64 years': 'Total; Estimate; AGE - 60 to 64 years',
'Total; Estimate; Total population - AGE - 65 to 69 years': 'Total; Estimate; AGE - 65 to 69 years',
'Total; Estimate; Total population - AGE - 70 to 74 years': 'Total; Estimate; AGE - 70 to 74 years',
'Total; Estimate; Total population - AGE - 80 to 84 years': 'Total; Estimate; AGE - 80 to 84 years',
'Total; Estimate; Total population - AGE - 85 years and over': 'Total; Estimate; AGE - 85 years and over'})

In [12]:
Age09_df = Age09_df.rename(index=str,columns={'Total; Estimate; Total population':'Total; Estimate; Total population',
'Total; Estimate; Total population - AGE - Under 5 years' : 'Total; Estimate; AGE - Under 5 years',
'Total; Estimate; Total population - AGE - 5 to 9 years': 'Total; Estimate; AGE - 5 to 9 years',
'Total; Estimate; Total population - AGE - 10 to 14 years': 'Total; Estimate; AGE - 10 to 14 years',
'Total; Estimate; Total population - AGE - 15 to 19 years': 'Total; Estimate; AGE - 15 to 19 years',
'Total; Estimate; Total population - AGE - 20 to 24 years': 'Total; Estimate; AGE - 20 to 24 years',
'Total; Estimate; Total population - AGE - 25 to 29 years': 'Total; Estimate; AGE - 25 to 29 years',
'Total; Estimate; Total population - AGE - 30 to 34 years': 'Total; Estimate; AGE - 30 to 34 years',
'Total; Estimate; Total population - AGE - 35 to 39 years': 'Total; Estimate; AGE - 35 to 39 years',
'Total; Estimate; Total population - AGE - 40 to 44 years': 'Total; Estimate; AGE - 40 to 44 years',
'Total; Estimate; Total population - AGE - 45 to 49 years': 'Total; Estimate; AGE - 45 to 49 years',
'Total; Estimate; Total population - AGE - 50 to 54 years': 'Total; Estimate; AGE - 50 to 54 years',
'Total; Estimate; Total population - AGE - 55 to 59 years': 'Total; Estimate; AGE - 55 to 59 years',
'Total; Estimate; Total population - AGE - 60 to 64 years': 'Total; Estimate; AGE - 60 to 64 years',
'Total; Estimate; Total population - AGE - 65 to 69 years': 'Total; Estimate; AGE - 65 to 69 years',
'Total; Estimate; Total population - AGE - 70 to 74 years': 'Total; Estimate; AGE - 70 to 74 years',
'Total; Estimate; Total population - AGE - 80 to 84 years': 'Total; Estimate; AGE - 80 to 84 years',
'Total; Estimate; Total population - AGE - 85 years and over': 'Total; Estimate; AGE - 85 years and over'})

In [13]:
list(Age10_df.columns)

['Id',
 'Id2',
 'Geography',
 'Total; Estimate; Total population',
 'Total; Margin of Error; Total population',
 'Male; Estimate; Total population',
 'Male; Margin of Error; Total population',
 'Female; Estimate; Total population',
 'Female; Margin of Error; Total population',
 'Total; Estimate; AGE - Under 5 years',
 'Total; Margin of Error; AGE - Under 5 years',
 'Male; Estimate; AGE - Under 5 years',
 'Male; Margin of Error; AGE - Under 5 years',
 'Female; Estimate; AGE - Under 5 years',
 'Female; Margin of Error; AGE - Under 5 years',
 'Total; Estimate; AGE - 5 to 9 years',
 'Total; Margin of Error; AGE - 5 to 9 years',
 'Male; Estimate; AGE - 5 to 9 years',
 'Male; Margin of Error; AGE - 5 to 9 years',
 'Female; Estimate; AGE - 5 to 9 years',
 'Female; Margin of Error; AGE - 5 to 9 years',
 'Total; Estimate; AGE - 10 to 14 years',
 'Total; Margin of Error; AGE - 10 to 14 years',
 'Male; Estimate; AGE - 10 to 14 years',
 'Male; Margin of Error; AGE - 10 to 14 years',
 'Female; Estimate; AGE - 10 to 14 years',
 'Female; Margin of Error; AGE - 10 to 14 years',
 'Total; Estimate; AGE - 15 to 19 years',
 'Total; Margin of Error; AGE - 15 to 19 years',
 'Male; Estimate; AGE - 15 to 19 years',
 'Male; Margin of Error; AGE - 15 to 19 years',
 'Female; Estimate; AGE - 15 to 19 years',
 'Female; Margin of Error; AGE - 15 to 19 years',
 'Total; Estimate; AGE - 20 to 24 years',
 'Total; Margin of Error; AGE - 20 to 24 years',
 'Male; Estimate; AGE - 20 to 24 years',
 'Male; Margin of Error; AGE - 20 to 24 years',
 'Female; Estimate; AGE - 20 to 24 years',
 'Female; Margin of Error; AGE - 20 to 24 years',
 'Total; Estimate; AGE - 25 to 29 years',
 'Total; Margin of Error; AGE - 25 to 29 years',
 'Male; Estimate; AGE - 25 to 29 years',
 'Male; Margin of Error; AGE - 25 to 29 years',
 'Female; Estimate; AGE - 25 to 29 years',
 'Female; Margin of Error; AGE - 25 to 29 years',
 'Total; Estimate; AGE - 30 to 34 years',
 'Total; Margin of Error; AGE - 30 to 34 years',
 'Male; Estimate; AGE - 30 to 34 years',
 'Male; Margin of Error; AGE - 30 to 34 years',
 'Female; Estimate; AGE - 30 to 34 years',
 'Female; Margin of Error; AGE - 30 to 34 years',
 'Total; Estimate; AGE - 35 to 39 years',
 'Total; Margin of Error; AGE - 35 to 39 years',
 'Male; Estimate; AGE - 35 to 39 years',
 'Male; Margin of Error; AGE - 35 to 39 years',
 'Female; Estimate; AGE - 35 to 39 years',
 'Female; Margin of Error; AGE - 35 to 39 years',
 'Total; Estimate; AGE - 40 to 44 years',
 'Total; Margin of Error; AGE - 40 to 44 years',
 'Male; Estimate; AGE - 40 to 44 years',
 'Male; Margin of Error; AGE - 40 to 44 years',
 'Female; Estimate; AGE - 40 to 44 years',
 'Female; Margin of Error; AGE - 40 to 44 years',
 'Total; Estimate; AGE - 45 to 49 years',
 'Total; Margin of Error; AGE - 45 to 49 years',
 'Male; Estimate; AGE - 45 to 49 years',
 'Male; Margin of Error; AGE - 45 to 49 years',
 'Female; Estimate; AGE - 45 to 49 years',
 'Female; Margin of Error; AGE - 45 to 49 years',
 'Total; Estimate; AGE - 50 to 54 years',
 'Total; Margin of Error; AGE - 50 to 54 years',
 'Male; Estimate; AGE - 50 to 54 years',
 'Male; Margin of Error; AGE - 50 to 54 years',
 'Female; Estimate; AGE - 50 to 54 years',
 'Female; Margin of Error; AGE - 50 to 54 years',
 'Total; Estimate; AGE - 55 to 59 years',
 'Total; Margin of Error; AGE - 55 to 59 years',
 'Male; Estimate; AGE - 55 to 59 years',
 'Male; Margin of Error; AGE - 55 to 59 years',
 'Female; Estimate; AGE - 55 to 59 years',
 'Female; Margin of Error; AGE - 55 to 59 years',
 'Total; Estimate; AGE - 60 to 64 years',
 'Total; Margin of Error; AGE - 60 to 64 years',
 'Male; Estimate; AGE - 60 to 64 years',
 'Male; Margin of Error; AGE - 60 to 64 years',
 'Female; Estimate; AGE - 60 to 64 years',
 'Female; Margin of Error; AGE - 60 to 64 years',
 'Total; Estimate; AGE - 65 to 69 years',
 'Total; Margin of Error; AGE - 65 to 69 years',
 'Male; Estimate; AGE - 65 to 69 years',
 'Male; Margin of Error; AGE - 65 to 69 years',
 'Female; Estimate; AGE - 65 to 69 years',
 'Female; Margin of Error; AGE - 65 to 69 years',
 'Total; Estimate; AGE - 70 to 74 years',
 'Total; Margin of Error; AGE - 70 to 74 years',
 'Male; Estimate; AGE - 70 to 74 years',
 'Male; Margin of Error; AGE - 70 to 74 years',
 'Female; Estimate; AGE - 70 to 74 years',
 'Female; Margin of Error; AGE - 70 to 74 years',
 'Total; Estimate; AGE - 75 to 79 years',
 'Total; Margin of Error; AGE - 75 to 79 years',
 'Male; Estimate; AGE - 75 to 79 years',
 'Male; Margin of Error; AGE - 75 to 79 years',
 'Female; Estimate; AGE - 75 to 79 years',
 'Female; Margin of Error; AGE - 75 to 79 years',
 'Total; Estimate; AGE - 80 to 84 years',
 'Total; Margin of Error; AGE - 80 to 84 years',
 'Male; Estimate; AGE - 80 to 84 years',
 'Male; Margin of Error; AGE - 80 to 84 years',
 'Female; Estimate; AGE - 80 to 84 years',
 'Female; Margin of Error; AGE - 80 to 84 years',
 'Total; Estimate; AGE - 85 years and over',
 'Total; Margin of Error; AGE - 85 years and over',
 'Male; Estimate; AGE - 85 years and over',
 'Male; Margin of Error; AGE - 85 years and over',
 'Female; Estimate; AGE - 85 years and over',
 'Female; Margin of Error; AGE - 85 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Male; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Female; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 5 to 14 years',
 'Total; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Male; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Female; Estimate; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 15 to 17 years',
 'Total; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Male; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Female; Estimate; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 18 to 24 years',
 'Total; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Male; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Female; Estimate; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 15 to 44 years',
 'Total; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 16 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 16 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 18 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 18 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 60 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 60 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 60 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 60 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 60 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 60 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 62 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 62 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 62 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 62 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 62 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 62 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 65 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 65 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 65 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 65 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 65 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 65 years and over',
 'Total; Estimate; SELECTED AGE CATEGORIES - 75 years and over',
 'Total; Margin of Error; SELECTED AGE CATEGORIES - 75 years and over',
 'Male; Estimate; SELECTED AGE CATEGORIES - 75 years and over',
 'Male; Margin of Error; SELECTED AGE CATEGORIES - 75 years and over',
 'Female; Estimate; SELECTED AGE CATEGORIES - 75 years and over',
 'Female; Margin of Error; SELECTED AGE CATEGORIES - 75 years and over',
 'Total; Estimate; SUMMARY INDICATORS - Median age (years)',
 'Total; Margin of Error; SUMMARY INDICATORS - Median age (years)',
 'Male; Estimate; SUMMARY INDICATORS - Median age (years)',
 'Male; Margin of Error; SUMMARY INDICATORS - Median age (years)',
 'Female; Estimate; SUMMARY INDICATORS - Median age (years)',
 'Female; Margin of Error; SUMMARY INDICATORS - Median age (years)',
 'Total; Estimate; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Total; Margin of Error; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Male; Estimate; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Male; Margin of Error; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Female; Estimate; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Female; Margin of Error; SUMMARY INDICATORS - Sex ratio (males per 100 females)',
 'Total; Estimate; SUMMARY INDICATORS - Age dependency ratio',
 'Total; Margin of Error; SUMMARY INDICATORS - Age dependency ratio',
 'Male; Estimate; SUMMARY INDICATORS - Age dependency ratio',
 'Male; Margin of Error; SUMMARY INDICATORS - Age dependency ratio',
 'Female; Estimate; SUMMARY INDICATORS - Age dependency ratio',
 'Female; Margin of Error; SUMMARY INDICATORS - Age dependency ratio',
 'Total; Estimate; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Total; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Male; Estimate; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Male; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Female; Estimate; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Female; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Old-age dependency ratio',
 'Total; Estimate; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Total; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Male; Estimate; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Male; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Female; Estimate; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Female; Margin of Error; SUMMARY INDICATORS - Age dependency ratio - Child dependency ratio',
 'Total; Estimate; PERCENT IMPUTED - Sex',
 'Total; Margin of Error; PERCENT IMPUTED - Sex',
 'Male; Estimate; PERCENT IMPUTED - Sex',
 'Male; Margin of Error; PERCENT IMPUTED - Sex',
 'Female; Estimate; PERCENT IMPUTED - Sex',
 'Female; Margin of Error; PERCENT IMPUTED - Sex',
 'Total; Estimate; PERCENT IMPUTED - Age',
 'Total; Margin of Error; PERCENT IMPUTED - Age',
 'Male; Estimate; PERCENT IMPUTED - Age',
 'Male; Margin of Error; PERCENT IMPUTED - Age',
 'Female; Estimate; PERCENT IMPUTED - Age',
 'Female; Margin of Error; PERCENT IMPUTED - Age',
 'Year']

In [14]:
income_list = [Income05_df, Income06_df, Income07_df, Income08_df, Income09_df, 
            Income10_df, Income11_df, Income12_df, Income13_df, 
            Income14_df, Income15_df, Income16_df, Income17_df]


age_list =[Age05_df, Age06_df, Age07_df, Age08_df, Age09_df, Age10_df, Age11_df, Age12_df, Age13_df, Age14_df, Age15_df, Age16_df,  Age17_df]


race_list = [Race05_df, Race06_df, Race07_df, Race08_df, Race09_df, Race10_df, Race11_df,
             Race12_df, Race13_df, Race14_df, Race15_df, Race16_df, Race17_df]

income_data = []
for df in income_list:
    income_columns = df.columns[df.columns.str.contains(pat="Households; Estimate;|Geography|Year")]
    income_data.append(df[income_columns])
    

age_data = []
for df in age_list:
    age_columns = df.columns[df.columns.str.contains(pat="Total; Estimate; AGE|Geography|Year")]
    age_data.append(df[age_columns])
    

race_data = []
for df in race_list:
    race_columns = df.columns[df.columns.str.contains(pat="Estimate;|Geography|Year")]
    race_data.append(df[race_columns])
    
#Total; Estimate; SELECTED AGE CATEGORIES - 5 to 14 years

In [15]:
age_data[4].head()

,Geography,Total; Estimate; AGE - Under 5 years,Total; Estimate; AGE - 5 to 9 years,Total; Estimate; AGE - 10 to 14 years,Total; Estimate; AGE - 15 to 19 years,Total; Estimate; AGE - 20 to 24 years,Total; Estimate; AGE - 25 to 29 years,Total; Estimate; AGE - 30 to 34 years,Total; Estimate; AGE - 35 to 39 years,Total; Estimate; AGE - 40 to 44 years,Total; Estimate; AGE - 45 to 49 years,Total; Estimate; AGE - 50 to 54 years,Total; Estimate; AGE - 55 to 59 years,Total; Estimate; AGE - 60 to 64 years,Total; Estimate; AGE - 65 to 69 years,Total; Estimate; AGE - 70 to 74 years,Total; Estimate; AGE - 80 to 84 years,Total; Estimate; AGE - 85 years and over,Year
0,"Birmingham city, Alabama",7.0,6.0,6.4,6.8,7.8,8.9,8.3,5.9,6.1,6.2,7.1,6.4,4.5,3.6,2.2,1.9,2.1,2009
1,"Dothan city, Alabama",7.2,7.3,6.1,6.4,6.5,7.0,5.2,6.3,6.5,6.5,7.5,6.7,5.0,3.9,3.5,2.1,2.7,2009
2,"Hoover city, Alabama",7.5,8.3,8.9,6.2,5.5,7.0,6.4,9.3,7.5,7.9,5.8,4.6,5.0,3.1,2.5,1.5,1.6,2009
3,"Huntsville city, Alabama",6.4,5.9,5.5,7.4,7.8,7.8,6.4,7.1,5.5,6.9,7.8,5.4,5.3,4.1,4.0,2.0,1.5,2009
4,"Mobile city, Alabama",7.7,7.6,6.6,7.6,8.1,8.4,6.9,5.6,5.2,6.6,6.8,6.1,3.9,3.4,2.5,2.3,2.0,2009

In [ ]:
list(Age05_df.columns)

In [ ]:
income_12 = Income12_df[income_columns]

income_12.head()

In [ ]:
data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df,]

In [ ]:
from functools import reduce

data_frames = [Race06_df, 
Race12_df,
Income16_df, 
Age11_df, Age05_df, 
Income17_df,
Age10_df,Race13_df,Race07_df, 
Race11_df,
Race05_df,
Age06_df,
Age12_df,
Income15_df,
Age13_df, Income14_df, 
Age07_df,
Race10_df,
Race14_df,
Income10_df,
Age17_df,
Income11_df,
Age16_df, 
Income05_df, 
Race15_df, 
Race17_df, 
Age14_df, 
Income13_df, 
Income07_df,
Income06_df,
Age15_df,
Income12_df,
Race16_df,
Income08_df,
Income09_df,
Race09_df,
Race08_df,
Age09_df,
Age08_df]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Geography'],
                                            how='outer'), data_frames)

df_merged.head(5)

In [ ]:
from geopy.geocoders import GoogleV3
locations = df_merged["Geography"]
geolocator = GoogleV3(api_key='AIzaSyDLVWpa6EhCXUaEms-89CB49H9Jlkw8L1k')
for location in locations:
   #print location
    results = geolocator.geocode(query=location, language='en', exactly_one=False, timeout=5)
       #for result in results:
           #print result.raw
        
print(locations[0])

In [ ]:
#df_merged.to_csv('2005_2017_P2_data.csv')